// ---------- DEFAULT BUTTONS --------------

.make-btn(@bg, @text: #f5f5f5) {
  @bg-dark: multiply(@bg, #f1f6ff);
  @bg-darker: multiply(@bg, #cbd0d8);
  @bg-bright: screen(@bg, #442);

  background-color: @bg;
  border-color: @bg-darker;
  color: @text;
  text-decoration: none !important;

  box-shadow: 0 0 0 0 rgba(0,0,0,.33);
  transition: box-shadow .1s ease-out, opacity .05s ease-out;

  &:focus,
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
    background-image: linear-gradient(@bg, @bg-dark);
  }

  &:focus {
    outline: 1px solid @bg-darker;
  }

  &:active {
    outline: none;
    box-shadow: 0 0 0 0 rgba(0,0,0,.33);
    background-color: @bg-dark;
    background-image: linear-gradient(@bg-dark, @bg);
  }
} // END make-btn

button.btn,
.btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: .9rem;
  line-height: 1;
  padding: .5em 1em;

  .make-btn(white, @text-color);

  &:disabled,
  &.disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.btn-sm {
  font-size: .7rem;
}

.btn-lg {
  font-size: 1.1rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  .make-btn(@primary);
}

.btn-highlight {
  .make-btn(@highlight);
}

.btn-light {
  .make-btn(white, @text-color);
}

.btn-dark {
  .make-btn(@text-color, white);
}

.btn-confirm,
.btn-submit {
  .make-btn(@confirm);
}

.btn-deny,
.btn-cancel,
.btn-danger {
  .make-btn(@cancel);
}

.btn-warning {
  .make-btn(@warning);
}

// --------- END DEFAULT BUTTONS ----------

.btn-outline {
  color: @text-color;
  border: 1px solid @text-color;

  background-color: transparent;
  background-image: none;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: rgba(0,0,0,.025);
    border-color: @text-color;
    outline-color: @text-color;
    color: @text-color;

    background-image: none;
    box-shadow: none;
  }

  &:active {
    background-color: rgba(0,0,0,.05);
  }

  &:disabled,
  &.disabled {
    background-color: lighten(#9e9e9e, 30%);
    border-color: lighten(#9e9e9e, 17%);
    color: lighten(#9e9e9e, 17%);

    &.active,
    &:hover,
    &:focus {
      border-color: @deny;
      color: @deny;
    }
  }
}

.make-btn-outline(@color, @active-bg: @color, @active-text: white) {
  border: 1px solid @color;
  color: @color;

  &:hover,
  &:focus {
    opacity: 1;
    border-color: @color;
    outline-color: @color;
    color: @color;
  }

  &.active,
  &.selected {
    border-color: @active-bg;
    background-color: @active-bg;
    color: @active-text;
  }
} // END make-btn-flat

.btn-outline.btn-outline-auto {
  .make-btn-outline(currentColor);
}

.btn-outline {
  &.btn-primary {
    .make-btn-outline(@primary);
  }

  &.btn-highlight {
    .make-btn-outline(@highlight);
  }

  &.btn-light {
    .make-btn-outline(white, white, @text-color);
  }

  &.btn-dark {
    .make-btn-outline(@text-color);
  }

  &.btn-confirm,
  &.btn-submit {
    .make-btn-outline(@confirm);
  }

  &.btn-deny,
  &.btn-cancel,
  &.btn-danger {
    .make-btn-outline(@cancel);
  }

  &.btn-warning {
    .make-btn-outline(@warning);
  }
}

.btn-link,
.btn-clear {
  border: 2px solid transparent;

  background-color: transparent;
  background-image: none;
  color: @link-color;
  box-shadow: none;

  &:focus,
  &:hover {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @link-color;
  }

  &:active {
    background-color: transparent;
  }
}
