.card {
  background-color: white;
  color: @text-color;

  a { color: @link-color; }

  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
              0 0 12px 0 rgba(0,0,0,0.12);

  .card__header {
    padding: 1rem @line-height-rem;
    line-height: 2rem;
    background-color: @primary;
    color: white;
  }

  .card__content {
    padding: @line-height-rem;
  }

  &:extend(.clearfix all);

  &.primary {
    background-color: @primary;
    color: white;
  }
}

.section {
  padding-top: 2rem;
  padding-bottom:  2rem;
}

.section.primary {
  background-color: @primary;
  color: white;
}

.definition-list {
  dt { font-size: .75rem; line-height: 1rem; font-weight: bold; text-transform: uppercase; }
  dd { font-weight: 300; margin-left: 1rem; margin-bottom: 1rem; }
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,.2);
}
