.dropdown {
  position: relative;

  & > a:after {
    content: ' ▾';
  }

  // TODO: extract to its own modifier class
  // MERGE ROOT mode
  // the following commented out styles are to give the root link a background
  // and merge it with the dropdown when it's open

  // & > a {
  //   border: 1px solid transparent;
  // }
  //
  // &:focus-within > a,
  // &:hover > a,
  // & > a:hover,
  // & > a:focus {
  //   position: relative;
  //   z-index: 2;
  //   background-color: white;
  //   border: 1px solid #eee;
  //   border-bottom-color: white;
  // }

  &:focus-within {
    pointer-events: none;
  }

  &:focus-within > ul {
    left: 0;
    pointer-events: auto;
  }

  &:hover > ul,
  & > a:hover + ul,
  & > a:focus + ul {
    left: 0;
  }

  & > ul {
    left: -9999px;

    position: absolute;
    z-index: 1;
    top: 100%;
    // top: calc(~"100% - 1px"); // MERGE ROOT mode
    margin: 0;
    padding: 0;
    background-color: white;
    color: @text-color;
    border: 1px solid #eee;
    border-radius: 3px;
    // border-radius: 0 0 3px 3px; // MERGE ROOT mode

    li {
      display: list-item;
      min-width: 170px;
      list-style: none;
    }
  }

  & > ul > li:hover {
    background-color: #eee;

    a {
      text-decoration: none !important;
    }
  }
}
