.dropdown {
  position: relative;

  & > a:after {
    content: ' ▾';
  }

  @media @mobile {
    display: block;
  }

  &:focus-within > ul {
    left: 0;
  }

  & > a:hover + ul,
  & > a:focus + ul {
    left: 0;
  }

  & > ul {
    // display: none;
    left: -9999px;
    
    position: absolute;
    z-index: 1;
    top: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    color: @text-color;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,.1);

    li {
      display: list-item;
      min-width: 170px;
      list-style: none;
    }
  }
}
