// TODO: come up with new, simpler form styles that don't rely on javascript (this was extracted from another project)

.form {
  // outline: 1px solid green;

  // display: table;
  // width: 100%;
  padding: 1rem;

  &::before,
  &::after {
    display: none;
  }
}

//.form.card { background-color: #ccc; }

.form-title {
  .font-size(20);
  margin-top: 0;
  font-weight: bold;
}

.form .field {
  // outline: 1px solid red;

  position: relative;

  display: table;
  width: 100%;

  padding: 4px;
  background-color: rgba(255,255,255,.8);
  border: 1px solid rgba(0,0,0,.2);;
  border-radius: 3px;

  label,
  input {
    color: rgba(0,0,0,.4);
  }

  label {
    display: table-cell;
    text-align: right;
  }

  input {
    display: table-cell;
    width: 100%;
    background-color: transparent;
    border: none;

    padding-left: 1rem;

    &:focus {
      outline: none;
    }

    font-size: 1rem;
  }
}

.form .field + .field {
  margin-top: 1rem;
}
