ul.nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  &:extend(.clearfix all);

  li {
    display: inline-block;

    a {
      display: block;
      padding: 1rem;
    }
  }

  li.right {
    float: right;
  }

  &.nav-right {
    text-align: right;
  }
}
