// -- DEFAULTS --

html {
  font-family: @default-font-family;
  font-size: @default-font-size;
  font-weight: @default-font-weight;
  line-height: @line-height;
  color: @text-color;
}

// -- HEADINGS --

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
.subheading,
.hgroup {
  font-size: 2rem;
  line-height: 1;
  margin: 1rem 0;
  font-weight: @default-heading-weight;
}

.subheading {
  font-size: 1.5rem;
}

@media @laptop {
  .heading {
    font-size: 2.6rem;
  }

  .subheading {
    font-size: 1.8rem;
  }
}

// -- PARAGRAPHS --

p {
  font-size: 1rem;
}

p.hero,
.hero-copy {
  font-size: 1.2rem;
}

// -- LINKS --

a {
  color: @link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// add icon to let them know they will leave this site
a.external {
    &:after {
      content: '\f08e';
      font-family: 'FontAwesome';
      margin-left: 10px;
      font-size: 80%;
      line-height: .8;
    }
}

// -- LISTS --

ul {
  margin-top: @vertical-spacing;
  margin-bottom: @vertical-spacing;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

// -- MODIFIERS --

b,
strong,
.bold {
  font-weight: @bold-weight;
}

.light { font-weight: @light-weight; }

.italic { font-style: italic; }


.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

@media @mobile {
  .text-left-mobile { text-align: left; }
  .text-center-mobile { text-align: center; }
  .text-right-mobile { text-align: right; }
}

.text-primary { color: @primary; }
.text-highlight { color: @highlight; }
.text-dark { color: @dark; }
.text-white { color: white; }
.text-light-gray { color: #eee; }

.text-shadow { text-shadow: 2px 2px 1px rgba(0,50,100,.33); }
