@mobile: ~'(max-width:767px)';
@phablet: ~'(min-width:400px)';
@tablet: ~'(min-width:768px)';
@laptop: ~'(min-width:1024px)';
@desktop: ~'(min-width:1440px)';

@gt-mobile: ~'(min-width:768px)';
@gt-tablet: ~'(min-width:1024px)';

@lt-laptop: ~'(max-width:1023px)';

// COLORS

@slate: #223d4a;
@green: #22b573;
@blue: #579cf3;
@red: #ff3367;
@yellow: #f1b107;

@dark: @slate;

@success: @green;
@confirm: @green;
@error: @red;
@deny: @cancel;
@cancel: @red;
@warning: @yellow;

@primary: @blue;
@highlight: @yellow;

// TYPOGRAPHY

@default-font-family: ~'"Roboto", Helvetica, Arial, sans-serif';
@default-font-size: 16px;
@line-height: 1.5;
@default-font-weight: 300;

@default-heading-weight: 300;

@light-weight: 300;
@bold-weight: 800;

@text-color: @dark;
@link-color: @blue;

// SPACING

@vertical-spacing: 2rem;
